<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class= "well">
        <% if params[:plan] == '2' %>
          <h2>Sign up</h2>
          <p>Pay 10 bucks and get VIP access to all the goods. Keep in mind you're getting one hell of a deal</p>
          <%= render 'pro_form' %>
        <% else %>
          <h2>Sign up</h2>
          <p>You got the basics but if you really wanted the best then check out our premium shit instead!</p>
          <%= render 'basic_form' %>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>